:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: rgb(241,241,241); /*Brilliant White*/
    --secundario: rgb(183,17,29); /*Turmeric*/
    --gris: rgb(97,91,91); /*Plum Kitten*/
    --solar: #f4bf3b; /*Solar Power*/
    --shocking: rgb(183,17,29); /*Shocking Orange*/
    --flame: rgb(183,17,29); /*Flame orange*/
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Newsreader', serif; /* fuente principal del proyecto*/
    /*background-image: linear-gradient(to top,var(--shocking) 0%, var(--secundario) 100%);*/
    background-color: var(--flame);
    
}

.slider-body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-slider{
    max-width: 100%;
}

.container-all{
    position: relative;
    max-width: 1200px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 1000ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primario);
    width: 35px;
    height: 35px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(241,241,241,0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
     background: var(--primario);
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
     background: var(--primario);
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
     background: var(--primario);
}

@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

/*Nuevo slider*/

.flexslider{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slides{
    overflow: hidden;
}

.slides img{
    width: 100%;
    border-radius: 2%;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-control-nav{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    z-index: 999;
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 6px;
}

.flex-control-nav li a {
    display: block;
    background-color: var(--secundario);
    width: 14px;
    height: 14px;
    border-radius: 12px;
    text-indent: -9999px;
}

/**/
.flex-control-nav li a:hover{
    background-color: var(--oscuro);
}

.flex-control-nav li a.flex-active{
    background-color: var(--oscuro);
}

.flex-direction-nav a{
    display: block;
    text-decoration: none;
    position: absolute;
    top :50%;
    z-index: 999;  
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-int-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev{
    left: 0;

}

.flex-direction-nav .flex-next{
    right: 0;
    
}

.flexslider :hover .flex-control-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.flexslider :hover .flex-control-nav .flex-prev:hover{
    opacity: 1;
}

.flexslider :hover .flex-control-nav .flex-next{
    opacity: 0.7;
    right: 10px;
}

.flexslider :hover .flex-control-nav .flex-next:hover{
    opacity: 1;
}
    