:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: rgb(241,241,241); /*Brilliant White*/
    --secundario: rgb(183,17,29); /*HEX: #b7111c*/
    --gris: rgb(97,91,91); /*HEX: #615b5b*/
    --solar: #f4bf3b; /*Solar Power*/
    --shocking: rgb(183,17,29); /*Shocking Orange*/
    --flame: rgb(183,17,29); /*Flame orange*/

    --fuentebold: myriad-pro,sans-serif;
    --fuentelight: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Newsreader', serif; /* fuente principal del proyecto*/
    /*background-image: linear-gradient(to top,var(--shocking) 0%, var(--secundario) 100%);*/
    background-color: var(--flame);
    
}

.slider-body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-slider{
    max-width: 100%;
    height: auto;
}

.container-all{
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    overflow: hidden;
    
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 1000ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primario);
    width: 50px;
    height: 50px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(241,241,241,0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

@media (max-width: 480px) {
  .pagination-item{
    width: 30px;
    height: 30px;
 }
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
     background: var(--primario);
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
     background: var(--primario);
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
     background: var(--primario);
}

@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

/*new slider*/


.container-slider{
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 2px var(--secundario), 0 5px 5px ;
  border-radius: 2%;
  position: relative;
}

.slider{
  display: flex;
  height: 512px; /*altura del slider*/
  margin-left: -100%;
  
}

/*esto define cuantas imagenes tendra el slider*/

.slider-Guadalajara{
  width: 400%;
}

.slider-Zapopan{
  width: 900%;
}

.slider-Tlaquepaque{
  width: 500%;
}

.slider-Tonala{
  width: 1400%;
}

.slider-Tlajomulco{
  width: 400%;
}

.slider-Elsalto{
  width: 1100%;
}

.slider-Ixt{
  width: 300%;
}

.slider-Laja{
  width: 300%;
}

/*Slider estaciones*/

.slider__section{
  width: 100%;
  position: relative;
}

.slider__section-Guadalajara{
  width: 100%;
  position: relative;
}

.slider__section-Zapopan{
  width: 100%;
  position: relative;
}

.slider__section-Tlaquepaque{
  width: 100%;
  position: relative;
}

.slider__section-Tonala{
  width: 100%;
  position: relative;
}

.slider__section-Tlajomulco{
  width: 100%;
  position: relative;
}

.slider__section-Elsalto{
  width: 100%;
  position: relative;
}

.slider__section-Ixt{
  width: 100%;
  position: relative;
}

.slider__section-Laja{
  width: 100%;
  position: relative;
}

/*Imagen del slider*/

.slider__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Diseño de los botones*/

.slider__btn{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.9);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;

  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms;
  
}

.slider__btn:hover{

  opacity: 1;
}

/*Efecto de los botones*/

.slider__btn--left {
  opacity: 0.7;
  left: 10px;
}

.slider__btn--left:hover{
  opacity: 1;
}

.slider__btn--right{
  opacity: 0.7;
  right: 55px;
}

.slider__btn--right:hover{
  opacity: 1;
}

@media (min-width: 480px) {
   .slider__btn--right{
    right: 60px;
  }
}

@media (min-width: 768px) {
  .slider__btn--right{
    right: 70px;
  }
}

@media (min-width: 1040px) {
  .slider__btn--right{
    right: 10px;
  }
}

/*Texto de la imagen*/

.estaciones_informacion{
    position: absolute;
    margin: auto;
    font-family: var(--fuentelight);
    top: 60%;
    padding: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px; 
    

    background: rgba(0, 0, 0, 0.8);
    border-radius: 2%;
    opacity: 0;
    color: #fff;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
  }

  .estaciones_informacion{
    opacity: 0.8;
  }

  .estaciones_informacion:hover{
    opacity: 1;
  }
  
  /*Estilos del texto dentro de la imagen*/

  .estaciones__nombre{
      font-weight:bold;    
  }
  
  .estaciones__direccion{
      line-height: 1.2;
  }
  
  .estaciones__ubicacion{
      text-decoration: none;
      color: var(--primario);
      font-weight:bold;
  }

  @media (min-width: 480px) {
    .estaciones__nombre{
      font-size: 2rem;
   }
   .estaciones__direccion .estaciones__ubicacion{
     font-size: 1rem;
   }
  }
 
 @media (min-width: 768px) {
    .estaciones__nombre{
      font-size: 3rem;
    }
    .estaciones__direccion .estaciones__ubicacion{
      font-size: 1rem;
    }
  }
 
 @media (min-width: 1040px) {
   .estaciones__nombre{
    font-size: 3rem;
   }
   .estaciones__direccion .estaciones__ubicacion{
     font-size: 2rem;
   }
  }