/*Paleta de colores css */
/*las palabras seguidas de : son elementos que no
  existen en el html pero se pueden utilizar para 
  guardar variables, se les conocen como custom properties
   */
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: rgb(241,241,241); /*Brilliant White*/
    --secundario: rgb(183,17,29); /*Turmeric*/
    --gris: rgb(97,91,91); /*Plum Kitten*/
    --solar: #f4bf3b; /*Solar Power*/
    --shocking: rgb(183,17,29); /*Shocking Orange*/
    --flame: rgb(183,17,29); /*Flame orange*/
    
    --fuentebold: myriad-pro,sans-serif;
    --fuentelight: 'Montserrat', sans-serif;
}

/*Configuraciones globales*/

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

/*
.nav-bg, .servicios , .titulo-estaciones, .sombra-contacto {
 
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*/

*, *:before, *:after {
    box-sizing: inherit;
}
/* 1rem = 10px la configuración en las etiquetas html y body
   nos ayudan a que los rems se adapten mejor a la resolución 
   de la pantalla en la que se visualiza nuestra página
*/

/**Globales **/
body{
    font-size: 16px;
    line-height: 1.5;;
    font-family: var(--fuentelight); /* fuente principal del proyecto*/
    /*background-image: linear-gradient(to top,var(--shocking) 0%, var(--secundario) 100%);*/
    background-color: var(--secundario)
    
}

.contenedor{
    /*max-width toma el rango como maximo y solo si esta
      disponible, si no toma el 100% que se toma por defecto
     */
    max-width:  120rem; 
    margin: 2rem auto;
    overflow: hidden;
}


.boton /*Diseño de los botones*/{
    background-color: var(--primario);
    color: var(--oscuro);
    padding: 1rem 3rem;
    margin-top: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;  
    font-weight: bold;
    border-radius: .5rem;
    border: 2px solid var(--flame);
    width: 80%;
    text-align: center;
    transition: background-color 1s ease-in-out;
    
}

.boton:hover{
    background-color: var(--secundario);
    color: var(--primario);
    transform: scale(1.1);
    border: 2px solid var(--primario);
    cursor: pointer;
}

@media (min-width: 480px) {
    .boton{
        width:auto;
    }
}

a,p{
    font-family: var(--fuentelight);
    text-decoration: none;
}
/*Tipografia*/

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
    font-family: var(--fuentelight);
}


/*header*/

.logo /*clase para manejar el grid*/{

  display: grid;
  /*cuando utilizamos grid solo la primera parte son los rows
    y la segunda las columns.
    los rows es el espacio vertical y las columns en horizontal*/
    /*grid-template-columns: ; nos divide en horizontal*/
    /*grid-template-rows: ; nos divide en vertical*/
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}


@media (max-width: 480px) {
    .logo-T{
        grid-column: 1/3;
        grid-row: 1/1;
    }

}

@media (min-width: 480px) {
    .logo{

        width: 100%;
        margin: 0 auto;
        grid: 1fr / repeat(3,1fr);
        
    }
    

}

@media (min-width: 768px) {
    .logo{
        width: 100%;
        margin: 0 auto;
        grid: 1fr / repeat(3,1fr);
    }
    

}

.logo-tomza{

    text-align:center;
    max-width: 100%;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.llamadas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 

.llamadas a{
    font-size: 2.2rem;
}


/*barra de navegacion*/

.nav-bg{

    background-color: var(--primario);
}

.navegacion-principal{

    display: flex;
    flex-direction: column;
}

/*480 es la medida para la resolución de un télefono*/
@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
        /*Para alinear horizontalmente se utiliza justify content*/
    }
}
/*768 es la medida para la resolución de una tablet*/
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a{

    display: block;
    text-align: center;
    padding: 1rem;
    color:var(--flame);
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fuentebold);
}

.navegacion-principal a:hover{

    background-color: var(--secundario);
    color: var(--primario);

}

/*Servicios*/

.servicios{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: var(--primario);
    color: var(--oscuro);
    gap: 2rem;
    margin: 0 1rem;
    border-radius: 1rem;
    overflow: hidden; /*Nos sirve para que no sobrepase la pantalla*/
}

.servicios-encabezado{
    font-family: var(--fuentebold);
    font-size: 5rem;
    text-align: center;
    color: var(--oscuro);
}

.servicios-h{
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    margin: 0 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.servicios-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicios-titulo{
    font-family: var(--fuentebold);
    font-size: 3rem;
    color: var(--oscuro);
}

.servicios-descripcion{
    font-family: var(--fuentelight);
    font-size: 2.2rem;
}


@media (min-width: 480px) {
    .servicios{
        grid-template-columns: 1fr ;
    }
    
}

@media (min-width: 768px) {
    .servicios{
        grid-template-columns: repeat(2, 1fr) ;
    }
}

@media (min-width: 1040px) {
    .servicios{
        grid-template-columns: repeat(2, 1fr) ;
    }
}

.servicios img{
    max-width: 100%;
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(107,107,107,0.56);
    -moz-box-shadow: 0px 5px 15px 0px rgba(107,107,107,0.56);
    box-shadow: 0px 5px 15px 0px rgba(107,107,107,0.56);
    background-color: var(--primario);
    padding: 1rem;
    margin: 2rem, 2rem;
    border-radius: 1rem;
    /*border-radius nos sirve para aplicar esquinas redondeadas */
}

/*Estaciones*/

.grid{
    display: grid;
    grid-template-columns: 1fr ;
    background-color: var(--primario);
    gap: 2rem;
    overflow: hidden;
}

@media (min-width: 480px) {
    .grid{
        grid-template-columns: 1fr ;
    }
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(2, 1fr) ;
    }
}

@media (min-width: 1040px) {
    .grid{
        grid-template-columns: repeat(3, 1fr) ;
    }
}

.titulo-estaciones{
    font-size: 18px;
    color: var(--primario);
    background-color: var(--secundario);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
}

.titulo-ubicacion{
    font-size: 18px;
    color: var(--secundario);
    background-color: var(--primario);
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1rem;
}

.estaciones{
    margin: 1rem .5rem;
    padding: 1rem;
    overflow: hidden;  
}


.estaciones__imagen{
    width: 100%;
    height: auto;
    transition: all 1000ms ease-in-out ;
}

.estaciones__imagen:hover{
    
    transform: scale(1.2);
    
}

.estaciones__informacion{
  margin: 1rem 0;
}

.estaciones__nombre{
    font-size: 3rem;
    font-weight:bold;
    
}

.estaciones__direccion{
    font-size: 2rem;
    line-height: 1.2;
}

.estaciones__ubicacion{
    text-decoration: none;
    color: var(--oscuro);
    font-weight:bold;
}

/*Imagen de fondo e informacion*/

.info{

    background-image: url(/img/Est/fondo-pipas.JPG);
    height: 800px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;/*Centrar la imagen*/
    position: relative;
    margin-bottom: 2rem;
}

.info-zona/*parrafo que sigue del h1*/{
    display: block;
    font-size: 2.8rem;
    max-width: 90%;
    
}

.contenido-info{

   position: absolute;
   background-color: rgba(0,0,0,.5); /*transparencia de la imagen de fondo*/
   width: 100%;
   height: 100%;
   /*Alinear un texto en medio y al centro*/
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: var(--primario);

}

.contenedor-info{
    max-width: 100%;
    margin: 2rem 2rem;
    overflow: hidden;
}

/*Mapa*/

.maps{
    max-width: 1200px;
}
.map{
    width: 100%;
}

/*Contacto*/

.sombra-contacto{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(107,107,107,0.56);
    -moz-box-shadow: 0px 5px 15px 0px rgba(107,107,107,0.56);
    box-shadow: 0px 5px 15px 0px rgba(107,107,107,0.56);
    background-color: var(--primario);
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
}
.sub-contacto{
    font-family: var(--fuentebold);
    font-size: 3rem;
    text-align: center;
    color: var(--primario);
}
.contacto{
    background-color: var(--flame);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.contacto fieldset{
    border: none;

}

.contenedor legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .contenedor-campos{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        column-gap: 2rem;
    }
    .campo:nth-child(3){
        grid-column: 1/3;
    }
    .campo:nth-child(4){
        grid-column: 1/3;
        
    }
}


.campo{
    margin-bottom: 1rem;

}

.campo label{
    color: var(--primario);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea{
    height: 20rem;
    resize: none;
}

.input{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: 2px;
    border-color: #ab4493;
}

.contacto input:focus{
    outline: 0;
    border: 2px solid #97d848;
}

.enviar{
    width: 100%;  
}

@media (min-width: 768px) {
    .enviar{
        width: auto;
    }
}

.enviar-flex{
    display: flex;
    justify-content: flex-end;
}



/*footer*/

.derechos{
    display: grid;
    text-align: center;
    color: var(--primario);
    grid-template-columns: 1fr;
}


@media (min-width: 480px) {
    .derechos{
        grid-template-columns: 1fr;
    }
    
}

@media (min-width: 768px) {
    .derechos{
        grid: 1fr / repeat(2,1fr);
    }
    .eradilla{
        text-align: left;
    }
}

.aviso{
    font-size: 3rem;
    text-align: justify;
    text-justify: inter-word;
    padding: 3rem;
}
.eradilla{
    color: var(--primario);
}

/**Iconos de redes sociales **/

.contenedor-redes{
    position: fixed;
    bottom: 60px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-redes a{
    margin-top: 6px;
}

.contenedor-redes img{
    width: 50px;
    padding: 4px;
    background: rgba(0,0,0,0);
    cursor: pointer;
    border-radius: 50%;
    transition: all 300ms;
}

@media (min-width: 480px) {
    
    .contenedor-redes img{
        width: 60px;
    }
   
}

.contenedor-redes a:hover img{
    background: rgba(241,241,241);
}


