/*Paleta de colores css */
/*las palabras seguidas de : son elementos que no
  existen en el html pero se pueden utilizar para 
  guardar variables, se les conocen como custom properties
   */
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #e61111ef;
    --secundario: #ff8800ef;
    --gris: #757575;
    
}
 
html{
    font-size: 62.5%;
}
/* 1rem = 10px la configuración en las etiquetas html y body
   nos ayudan a que los rems se adapten mejor a la resolución 
   de la pantalla en la que se visualiza nuestra página
*/
body{
    font-size: 16px;
    font-family: 'Newsreader', serif; /* fuente principal del proyecto*/
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--oscuro);  
    
}

.titulo span{
    display: block; 
    font-size: 2rem;
}

@media (min-width: 768px) {
    
}

.contenedor{
    /*max-width toma el rango como maximo y solo si esta
      disponible, si no toma el 100% que se toma por defecto
     */
    max-width:  120rem; 
    margin: 0 auto;
}

.nav-bg{

    background-color: var(--primario);
}

.navegacion-principal{

    display: flex;
    flex-direction: column;
}

/*480 es la medida para la resolución de un télefono*/
@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
        /*Para alinear horizontalmente se utiliza justify content*/
    }
}
/*768 es la medida para la resolución de una tablet*/
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}


.navegacion-principal a{

    display: block;
    text-align: center;
    padding: 1rem;
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover{

    background-color: var(--secundario);
    color: var(--oscuro);

}

